body {
    background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);
    
}



h2{
    color:black;
    text-align:center;
}
#account {
    margin-top: 20px;
    padding: 30px;
    background: white;
    border: solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.form-label{
    color:red;
}

