<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetCoreArchTemplate.Web</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspNetCoreArchTemplate.Web.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg" style="background: linear-gradient(98.3deg, rgb(0, 0, 0) 10.6%, rgb(255, 0, 0) 97.7%);`">
        <div class="container">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/elitegym-logo.png" alt="EliteGym Logo" style="height: 40px;" />
                    <span class="ms-2 fw-bold text-white">EliteGym</span>
                </a>

            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                        @if (User?.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
                        {
                             <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Gym" asp-action="AllGyms">Gyms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="User" asp-action="AllUsers">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Trainer" asp-action="AllTrainers">Trainers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Events" asp-action="Index">Events</a>
                            </li>

                        }
                        else if (User?.Identity?.IsAuthenticated == true && User.IsInRole("Trainer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Gym" asp-action="AllGyms">Gyms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="User" asp-action="AllUsers">My subscribers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Trainers" asp-action="Index">Trainers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Events" asp-action="Index">Events</a>
                            </li>
                        }
                        else if (User?.Identity?.IsAuthenticated == true && User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Gym" asp-action="AllGyms">Gyms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Trainers" asp-action="Index">Available Trainers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Trainers" asp-action="Index">Food and Workouts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Events" asp-action="Index">Events</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Gym" asp-action="AllGyms">Gyms</a>
                            </li>                         
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Events" asp-action="Index">Events</a>
                            </li>
                        }

                </ul>

                    <partial name="_LoginPartial" />

            </div>
        </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-light py-3 mt-auto">
        <div class="container text-center small">
            <div>📞 1-800-235-658 | 📍 Bulgaria, Mladost 1, bl.105</div>
            <div>&copy; @DateTime.Now.Year FitnessPlatform. All rights reserved.</div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
